:root {
  --color1: #f8f8f8;
  --color2: #baf8ba;
  --color3: #7cf87c;
  --color4: #3ef83e;
  --color5: #00f800;
  --lightFont: #333333;
  --overlay: #0000002f;
}
.a-prod-imagecnt {
  display: flex;
  justify-content: center;
}
.a-prod-image {
  border: solid 1px gray;
  width: 95%;
  max-width: 500px;
  height: 300px;
  position: relative;
}
.a-prod-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.a-add-photo {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: gray;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.a-add-photo span {
  color: white;
}
.a-add-photo input {
  display: none;
}
.a-product-details {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.a-product-details label {
  display: block;
  font-size: 1.2rem;
}
.a-category-select select {
  width: 100%;
  min-width: 300px;
  padding: 0.3rem;
  border: none;
  outline: none;
  background-color: #e3e1e1;
  border-radius: 0.3rem;
  font-size: 1.1rem;
}
.a-prd-price {
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.p-input input {
  font-size: 1.1rem;
  padding: 5px;
}
.a-prd-description {
  margin-top: 2rem;
}
.a-prd-description label {
  display: block;
  font-size: 1.2rem;
}
.a-submit-btn {
  padding: 0.2rem 0.5rem;
  background-color: rgb(100, 100, 250);
  border-radius: 1rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  margin: 2rem;
}
.key-words {
  width: 250px;
  min-height: 150px;
  border: solid 1px black;
  display: inline-block;
  padding: 0.3rem;
}
.key-words button {
  font-size: 1rem;
  cursor: pointer;
}
.key-words input {
  font-size: 1rem;
  width: 80%;
}
/* .key-word-head {
  padding: 0.3rem;
} */
.key-word-head h1 {
  margin: 0%;
  font-size: 1rem;
}
