.admin-body-nav {
  display: flex;
  justify-content: space-between;
  width: 97%;
  background-color: aliceblue;
  margin: 0.5rem auto;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-sizing: border-box;
  position: sticky;
  top: 1rem;
  z-index: 90;
}
.admin-section {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.admin-section section {
  padding: 0 1rem;
}
.amn-sec {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.adm-nav-menu-btn {
  display: none;
}
@media (max-width: 800px) {
  .admin-section-nav {
    display: block;
    position: sticky;
    top: 0%;
    left: 0%;
    width: 100vw;
    background-color: white;
    padding: 0.5rem;
  }
  .admin-section-nav h1 {
    margin: 0%;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    cursor: pointer;
  }
  .adm-nav-menu-btn {
    display: block;
    cursor: pointer;
    margin-right: 1rem;
  }
}
