.listing-details {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; /* Adjust as needed */
  align-items: stretch;
  justify-content: start;
  gap: 1rem;
}
.back-btn {
  position: absolute;
  top: 12%;
  left: 2rem;
  background-color: rgb(100, 99, 99);
  color: white;
  border-radius: 50%;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 5;
}
.back-btn .material-symbols-outlined {
  font-size: 1.5rem;
}
.product-img-container {
  width: 90vw;
  max-width: 430px;
  height: 250px;
  position: relative;
  border: solid 1px black;
  position: relative;
}
.product-main-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  z-index: 1;
}
.edit-main-img {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 1.7rem;
  height: 1.7rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: gray;
  color: white;
  cursor: pointer;
}
.edit-main-img .material-symbols-outlined {
  font-size: 1.3rem;
}
.image-cnt {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}
.image-variants {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.image-variants img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: solid 1px;
  background-color: white;
  cursor: pointer;
}
.product-variant-cnt {
  min-width: 250px;
  max-width: 400px;
}
.product-variants {
  display: flex;
  gap: 0.5rem;
  overflow-x: scroll;
}
.product-variants::-webkit-scrollbar {
  background-color: transparent;
}
.product-variant {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.product-variant img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: solid 1px;
  background-color: white;
  cursor: pointer;
}
.product-info-card {
  border: solid 1px rgb(245, 243, 243);
  background-color: #dfdcdc65;
  border-radius: 0.5rem;
  padding: 0.5rem;
  min-width: 250px;
  height: fit-content;

  max-width: 500px;
}
.product-info-card .card-title h3 {
  font-weight: 600;
  margin: 0%;
  padding: 0%;
  border-bottom: solid 1px gray;
  display: flex;
  justify-content: space-between;
}
.card-title .material-symbols-outlined {
  font-size: 1.5rem;
  cursor: pointer;
}
.product-info-card span {
  margin-left: 1rem;
}
.listing-card-body {
  height: 100%;
}
.listing-card-body-short {
  overflow-y: scroll;
  max-height: 30vh;
}
.listing-card-body-short::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.listing-card-body-short::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}
.sale-activity-cnt {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}
.sale-activity-values {
  border-right: solid 1px;
  padding-right: 0.7rem;
}
.sale-chart-cnt {
  width: 150px;
  position: relative;
}
.chart-percent {
  position: absolute;
  top: 58%;
  left: 44%;
}
.brg-sl {
  padding: 0.5rem;
  border: solid 1px;
  margin: 0.3rem;
  border-radius: 0.5rem;
}
.brg-sl span {
  border-left: solid 1px;
  padding-left: 0.5rem;
}
.prd-line-chart {
  min-height: 50vh;
  border: solid 1px black;
  border-radius: 0.5rem;
}
.sale-history-title {
  padding-left: 1rem;
}
.sale-history-title select {
  outline: none;
}
.line-graph-cnt {
  height: 40vh;
}
.bar-chart-cnt {
  min-height: 30vh;
}
/* _____________popup */
.pop-up {
  position: absolute;
  min-height: 30vh;
  max-height: 55vh;
  padding: 0.5rem;
  height: fit-content;
  width: 95vw;
  max-width: 500px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.872);
  filter: brightness(93%);
  backdrop-filter: blur(15px);
  border: solid 3px white;
  border-radius: 0.5rem;
  box-shadow: 5px 10px 30px 10px rgba(0, 0, 0, 0.217);
  z-index: 5;
}
.close-pop {
  position: relative;
}
.close-pop .material-symbols-outlined {
  position: absolute;
  right: 0%;
  font-size: 1.5rem;
  cursor: pointer;
}
.pop-up form {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: start;
  gap: 0.5rem;
}
.pop-up form input {
  border: none;
  border-bottom: solid 1px black;
  background-color: rgba(243, 163, 243, 0.107);
  padding: 5px;
  outline: none;
  margin: 1rem 0.3rem;
}
.pop-up .itm-img-add {
  width: 270px;
}
.pop-up form button,
.pop-submit button {
  padding: 0.3rem;
  height: fit-content;
  font-size: 1rem;
  border: none;
  background-color: blueviolet;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.pop-up form button:hover {
  background-color: rgb(163, 78, 242);
}
.pop-up form span {
  padding: 5px;
  border: solid 1px;
  border-radius: 0.3rem;
  cursor: pointer;
}
.pop-up form span:hover {
  color: blue;
}
.pop-submit {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
