@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700&family=Mulish:wght@200&family=Open+Sans:wght@300&family=Quicksand:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --color1: #f8f8f8;
  --color2: #baf8ba;
  --color3: #7cf87c;
  --color4: #3ef83e;
  --color5: #00f800;
  --lightFont: #333333;
  --overlay: #0000002f;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0%;
  scroll-behavior: smooth;
  color: var(--color-1);
  background-color: var(--body);
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}
.sc-btn {
  background-color: #b2cbd3;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.select-card {
  display: flex;
  gap: 0.5rem;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 0.3rem 0.5rem;
  color: rgb(40, 40, 40);
  width: fit-content;
}
.sc-btn:hover {
  background-color: var(--color3);
}
.section-head {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  margin: 0.5rem;
  cursor: pointer;
}
.section-head h1 {
  margin: 0%;
  font-weight: 500;
  font-size: 1.3rem;
}
.section-head .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid purple;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.data-table-cnt {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}
.acc-crd {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.data-table-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}
.table-data-count {
  font-size: 1.2rem;
  padding: 0 0.2rem;
  outline: solid 2px gray;
  border-radius: 3px;
  height: fit-content;
}
.table-search-m {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  border: solid 1px gray;
  width: fit-content;
  padding: 0.3rem;
}
.table-search-m input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.1rem;
}
.table-menu-left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.add-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.5rem;
  color: var(--color1);
  position: relative;
}

thead {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  font-weight: 300;
  height: 50px; /* Set a specific height for the header */
}

thead th {
  width: max-content;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 2;
}

tbody {
  max-height: 70vh;
}
tbody tr td {
  position: relative;
  width: max-content;
}
.row-pin {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  display: none;
}
tbody tr:hover .row-pin {
  display: block;
}
.row-mamber-blocked {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}

td {
  border-top: 1px solid rgb(216, 215, 215);
  padding: 3px 8px;
  text-align: center;
  min-width: 100px;
  padding: 10px;
  text-overflow: ellipsis;
  max-width: 15rem;
  overflow: hidden;
  white-space: nowrap;
  color: black;
}
td input {
  padding: 0.5rem;
  cursor: pointer;
}
.td-profile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0.3rem;
  background-color: rgb(194, 192, 192);
  margin: 0 auto;
}
.td-profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.td-logo {
  width: 10rem;
  height: 2.5rem;
  margin: 0 auto;
}
.td-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
tr {
  transition: all 0.1s ease-in-out;
}
table td:nth-child(1) {
  /* Your styling here */
  font-weight: bold;
  width: 5rem;
}
th {
  background-color: rgb(185, 251, 251);
  color: black;
}

tr:hover {
  background-color: rgba(239, 239, 239, 0.443);
}
