:root {
  --color1: #f8f8f8;
  --color2: #baf8ba;
  --color3: #7cf87c;
  --color4: #3ef83e;
  --color5: #00f800;
  --overlay: rgba(0, 0, 0, 0.184);
}
nav {
  position: sticky;
  top: 0%;
  left: 0%;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100vw;
  background-color: white;
}
nav h1 {
  margin: 0%;
}
.site-logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.mobile-menu {
  display: none;
}
nav ul {
  list-style: none;
}
.nav-links {
  display: flex;
  gap: 1rem;
}
.nav-links li {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}
.nav-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-actions li {
  cursor: pointer;
}
.cart-icon {
  position: relative;
  margin-right: 0.3rem;
}
.cart-icon::after {
  content: attr(datacount);
  display: block;
  border-radius: 50%;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: -0.8rem;
  right: -2rem;
}
.nl-logo {
  display: none;
}
.log-nav-li {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}
.log-nav-li h3 {
  margin: 0%;
  font-size: 1rem;
}
.log-nav-li .material-symbols-outlined {
  font-size: 2rem;
}
.log-actions span {
  cursor: pointer;
}
.log-actions span:hover {
  text-decoration: underline;
}

.log-form-cnt {
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--overlay);
  z-index: 110;
  display: flex;
  justify-content: center;
}
.log-form-cnt form {
  position: relative;
  margin-top: 10vh;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  height: fit-content;
  width: 90vw;
  max-width: 400px;
  border: solid 1px var(--color2);
}
.close-log-form {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}
.log-form-head {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.log-form-imp input {
  display: block;
  margin: 0.5rem 0;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 5px;
  border: solid 1px black;
  padding: 5px;
}
.log-submit-btn {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--color5);
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  position: relative;
  min-height: 2rem;
  cursor: pointer;
}
.log-submit-btn:hover {
  background-color: var(--color3);
}
.center-loader {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.center-loader .loader {
  width: 25px;
  border: 4px solid black;
  border-right-color: green;
}
@media (max-width: 800px) {
  .mobile-menu {
    display: block;
  }
  nav {
    justify-content: space-between;
  }
  .nav-actions {
    margin: 0.5rem 0;
  }
  .nav-links-cnt {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: var(--overlay);
    width: 100vw;
    height: 100vh;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s ease-in;
  }
  .nav-links {
    display: block;
    width: 200px;
    height: 100vh;
    background-color: white;
    padding: 0%;
    margin: 0%;
  }
  .nav-links li {
    justify-content: space-between;
    padding: 0.3rem 0.5rem;
    margin-bottom: 0.5rem;
  }
  .nl-logo {
    display: block;
    margin-bottom: 1rem;
  }
  .nl-logo h1 {
    margin: 0%;
  }
}
